# Environment configuration
NODE_ENV=development

# Server configuration
SERVER_PORT=1234

# Database configuration
SGBD=postgres # postgres, mysql, mssql, and others SGBD
DB_HOST=127.0.0.1 # localhost
DB_PORT=5432
DB_NAME=enter_your_database_name
DB_USER=enter_your_database_user
DB_PASSWORD=enter_your_database_password

# Neon Database configuration (Optional)
DATABASE_URL=
DIRECT_URL=

# OAuth configuration
FAILURE_REDIRECT_URL=http://localhost:1234/

GITHUB_CLIENT_ID=enter_your_github_client_id
GITHUB_CLIENT_SECRET=enter_your_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:1234/auth/github/callback